:root { /*color palette*/
	--main-bg-color: #3d3b35;
	--content-bg-color: #dfd3c7;
	--content-bg-color-alt: #d3c7c5;
	--link-hover-color: #b56767;
	--text-color-alt: #7f7167;
	--text-color-light: #717167;
	--text-color-dark: #25252b;
	--text-color: var(--main-bg-color);
}

html { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }

body {
	margin: 1.5em auto;
	max-width: 800px;
	background-color: var(--main-bg-color);
	color: var(--text-color);
}

header {
	padding: 0 0 1.8em 0;
	margin: 0;
	display: block;
}

#title {
	margin: -.27em auto;
	position: relative;
	float: left;
	color: var(--content-bg-color);
	text-decoration: none;
	font-size: 3.5em;
}

nav ul {
	list-style: none;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 2px;
	padding-left: 0;
	float: right;
	text-align: center;
}
nav ul li {
	float: left;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}

.container {
	background: var(--content-bg-color);
	border-radius: 2px;
	padding: 1em;
}

.meta {
	display: flex;
	font-size: .9em;
	color: var(--text-color-light);
	justify-content: space-between;
	padding: 0 1.2em 1.2em;
}

.site-tags {
	width: 70%;
	white-space: nowrap;
	overflow: auto;
}

h1 {
	text-align: center;
	color: var(--content-bg-color);
	background: var(--text-color-alt);
	border-radius: 2px;
}
h2 {
	border-bottom: 1px solid var(--text-color-alt);
	color: var(--text-color-alt);
}
h3 { color: var(--text-color-alt); }
h4 { color: var(--text-color-alt); }
h5 { color: var(--text-color-alt); }
h6 { color: var(--text-color-alt); }

@media (max-width: 767px) {
	.subtitle {
		display: none;
	}
}

p { text-align: justify; }

a {
	color: var(--text-color-light);
	text-decoration: none;
}
a:hover { color: var(--link-hover-color); }

hr {
	border: 0;
	height: 1px;
	background: var(--text-color-light);
}

table {
	border-collapse: collapse;
	width: 100%;
}
th {
	background-color: var(--text-color-alt);
	color: var(--content-bg-color);
}
th, td { padding: .25em; }
td { border-bottom: 1px solid var(--content-bg-color-alt); }
tr:hover { background-color: var(--content-bg-color-alt); }

.PageNavigation {
	display: block;
	width: auto;
	overflow: hidden;
	padding: 1em;
}

.PageNavigation a {
	display: block;
	width: 50%;
	float: left;
	margin: 1px 0;
}

.PageNavigation .next { text-align: right; }

ul.posts { 
	margin: 20px auto 40px;
	line-height: 1.6em;
	color: var(--main-bg-color);
}
ul.posts li { list-style: none; }

footer {
	position: fixed;
	bottom: 0;
	z-index: -1;
	color: var(--text-color-light);
	margin-bottom: -.75em;
}
footer li { font-size: .75em; }
footer a { color: var(--text-color-light); }
footer a:hover { color: var(--text-color-dark); }
footer ul li {
	display: inline;
}
footer li:after {
	content: ' |';
}
footer li:last-child:after {
	content: '';
}
