---
layout: default
---
<article>
	<h1>{{ page.title }}<span class="subtitle"> {{ page.subtitle }}</span></h1>
	<div class="meta">
		<div class="site-tags">{{ page.tags | sort | join: ", " }}</div>
		<div>{{ page.date | date_to_string }}</div>
	</div>
	
	<div class="post">
		{{ content }}
	</div>
</article>

<div class="PageNavigation">
	{% if page.previous.url %}
		<a class="prev" href="{{page.previous.url}}">« {{page.previous.title}}</a>
	{% else %} <!-- ensure something goes here-->
		<a class="prev" hidden></a>
	{% endif %}
	{% if page.next.url %}
		<a class="next" href="{{page.next.url}}">{{page.next.title}} »</a>
	{% endif %}
</div>